<header class="main-header alternate">
  <div class="main-box">
    <div class="auto-container">
      <div class="outer-container clearfix">
        <div class="logo-box">
        <div class="navee-logo"><figure class="image"><img src="../assets/logonavee_boat.png" alt=""><%= link_to "", root_path, class:"logo" %></figure></div>
          </div>
          <div class="nav-outer clearfix">
            <% if user_signed_in? %>
              <nav class="main-menu">
                  <div class="navbar-collapse collapse scroll-nav clearfix">
                    <ul class="navigation clearfix">
                      <li><%= link_to "All posts", posts_path %>
                      </li>
                     </ul>
                  </div>
              </nav>
              <% end %>
              <div class="other-links">
                <% if user_signed_in? %>
                  <%= link_to destroy_user_session_path, class:"theme-btn btn-style-one",method: :delete do %>
                      <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                <% else %>
                  <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "theme-btn btn-style-one" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
</header>
