<%= render 'shared/navbar_show' %>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= simple_form_for @post do |f| %>
            <%= f.input :city %>
            <%= f.input :rent_with_expenses_amount %>
            <%= f.input :description %>
            <%= f.input :firstname %>
            <%= f.input :lastname %>
            <%= f.input :property_surface, collection: 1..300 %>
            <%= f.input :address %>
            <%= f.input :pictures %>
            <%= f.input :rooms_count %>
            <%= f.input :zip_code %>
            <%= f.submit "Add a new post", class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

