<style>
.post-bar {
  height: <%= @post_graph_height.round %>px;
  max-height: 260px;
}
.studapart-lower-bar {
  height: 75px;
  max-height: 260px;
}

.studapart-mean-bar {
  height: 150px;
  max-height: 260px;
}

.studapart-higher-bar {
  height: 75px;
  max-height: 260px;
}

.market-lower-bar {
  height: 75px;
  max-height: 260px;
}

.market-mean-bar {
  height: 150px;
  max-height: 260px;
}

.market-higher-bar {
  height: 75px;
  max-height: 260px;
}
</style>
    <%= render 'shared/loading_engine' %>
    <%= render 'shared/navbar' %>
    <section class="what-we-offer" id="services">
      <div class="auto-container">
        <div class="row clearfix">
          <div class="flexbox">
            <% if @post.status == "Scam" %>
              <div class="theme-btn btn-style-two btn-clicked">Scam</div>
            <% else %>
              <%= simple_form_for(@post) do |f| %>
                <%= f.input :status, input_html: { value: "Scam" }, as: :hidden %>
                <%= f.submit "Scam", class: 'theme-btn btn-style-two fraudulent' %>
              <% end %>
            <% end %>
            <% if @post.status == "Call required" %>
               <div class="theme-btn btn-style-two btn-clicked">Call required</div>
            <% else %>
              <%= simple_form_for(@post) do |f| %>
                <%= f.input :status, input_html: { value: "Call required" }, as: :hidden %>
                <%= f.submit "Call required", class: 'theme-btn btn-style-two manual-check' %>
              <% end %>
            <% end %>
            <% if @post.status == "Legit"%>
              <div class="theme-btn btn-style-two btn-clicked">Legit</div>
            <% else %>
              <%= simple_form_for(@post) do |f| %>
                <%= f.input :status, input_html: { value: "Legit" }, as: :hidden %>
                <%= f.submit "Legit", class: 'theme-btn btn-style-two legit' %>
              <% end %>
            <% end %>
            <div class="theme-btn btn-style-one" id="launch-engine"><i class="fas fa-cogs"></i> Launch Barinomi Engine</div>
          </div>
            <div class="text-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner">
                    <h2>Post : <%=@post.id%></h2>
                    <div class="description-box">
                      <div class="text description-base"><p align="justify"><%= @post.description %></p></div>
                      <div class="text response-api"><p align="justify">
                        <% counter = 0 %>
                        <% @description_array.each do |array| %>
                          <% if counter.odd? %>
                            <span class="error" data-toggle="tooltip" data-placement="bottom" title="<%= array[0] %>"><%=@post.description[array[1], array[2]]%></span>
                            <% counter += 1 %>
                          <% else %>
                            <span class="no_error"><%=@post.description[array[1], array[2]]%></span>
                            <% counter += 1 %>
                          <% end %>
                        <% end %>
                      </p>
                      </div>
                  </div>
                </div>
            </div>
                <div class="features-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner">
                        <div class="row clearfix">
                            <div class="service-style-two col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="icon"><figure class="image"><img src="../assets/icon-10.png" alt=""></figure></div>
                                    <h3>User</h3>
                                    <div class="text name-base">
                                      <%= @post.firstname %><br>
                                      <%= @post.lastname %>
                                    </div>
                                    <div class="response-api" id="name-api" data-toggle="tooltip" data-placement="top" title="Number of posts : <%= @post.nb_posts_user %>">
                                       <%= @post.firstname %> <%= @post.lastname %>
                                    </div>
                                </div>
                            </div>
                            <div class="service-style-two col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="icon"><figure class="image"><img src="../assets/icon-24.png" alt=""></figure></div>
                                    <h3>Address</h3>
                                    <div class="text"><%= @post.address %><br><%= @post.city %>
                                      <%= @post.zip_code %>
                                    </div>
                                </div>
                            </div>
                            <div class="service-style-two col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="icon"><figure class="image"><img src="../assets/icon-30.png" alt=""></figure></div>
                                    <h3>Surface</h3>
                                    <div class="text">
                                      <% unless @post.property_surface.nil? %>
                                        <%= @post.property_surface.round %> m2
                                      <% end %>
                                    </div>
                                </div>
                            </div>
                            <div class="service-style-two col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="icon"><figure class="image"><img src="../assets/icon-23.png" alt=""></figure></div>
                                    <h3>Rent</h3>
                                    <div class="text">
                                    <% unless @post.rent_with_expenses_amount.nil? %>
                                      <%= @post.rent_with_expenses_amount.round %> € / mois
                                    <% end %>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="what-we-offer response-api" id="barinomi-analysis">
      <div class="auto-container">
        <div class="row clearfix">

          <div class="flexbox">

            <div class="text-column col-md-6 col-sm-12 col-xs-12">
              <div class="inner">
                <h2>Description analysis</h2>
                <div>
                  Description suspiciousness :
                    <span class="number-of-posts" data-toggle="tooltip" data-placement="right" title="average score : 3.02 %">
                      <%= @post.description_suspiciousness %> %
                    </span>
                  </div>
                <div class="description-box">
                  <br>
                  <div>
                  Email detected :
                    <span class="number-of-posts">
                      <%= @post.email_detected %>
                    </span>
                  </div>
                  <div>
                  Phone number detected :
                    <span class="number-of-posts">
                      <%= @post.phone_detected %>
                    </span>
                  </div>
                  <div>
                  Url detected :
                    <span class="number-of-posts">
                      <%= @post.url_detected %>
                    </span>
                  </div>
                  <br>
                  <div>
                    Post length : <span class="number-of-posts"  data-toggle="tooltip" data-placement="right" title="average length : 500 characters"> <%= @post.description.length %> characters </span>
                  </div>
                  <br>
                  <div>
                  Language detected:
                    <% eval(@post.languages_detected).each do |language| %>
                      <span class="number-of-posts" data-toggle="tooltip" data-placement="right" title="language detected inside the description">
                        <%= language %>
                      </span>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div class="text-column col-md-6 col-sm-12 col-xs-12">
              <div class="inner">
                <h2>Price analysis</h2>
                <div class="label-price-box">
                  <% eval(@post.labels).each do |label| %>
                    <div class="number-of-posts"><%= label.capitalize %></div>
                  <% end %>
                </div>
                <div class="description-box graph-box overflow-visible">
                  <table id="q-graph">
                  <thead>
                  <tr>
                  <th></th>
                  <th class="lower">First quartile</th>
                  <th class="mean">Median</th>
                  <th class="upper">Third quartile</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="qtr" id="q1">
                  <th scope="row-graph">Post price</th>
                  <td class="post bar post-bar"data-toggle="tooltip" data-placement="top" title="Post price : <%= @post.rent_with_expenses_amount.round %>€"><p></p><%= @post.rent_with_expenses_amount.round %></td>
                  </tr>
                  <tr class="qtr" id="q2">
                  <th scope="row-graph">Studapart prices</th>
                  <td class="first bar studapart-lower-bar" data-toggle="tooltip" data-placement="top" title="Studapart price (lower) : <%= eval(@post.studapart_price)["lower"].round %>€"><p><%= eval(@post.studapart_price)["lower"].round %></p></td>
                  <td class="second bar studapart-mean-bar"data-toggle="tooltip" data-placement="top" title="Studapart price (mean) : <%= eval(@post.studapart_price)["mean"].round %>€"><p><%= eval(@post.studapart_price)["mean"].round(-1) %></p></td>
                  <td class="third bar studapart-higher-bar"data-toggle="tooltip" data-placement="top" title="Studapart price (higher) : <%= eval(@post.studapart_price)["higher"].round %>€"><p><%= eval(@post.studapart_price)["higher"].round %></p></td>
                  </tr>
                  <tr class="qtr" id="q3">
                  <th scope="row-graph">Market prices</th>
                  <td class="first bar market-lower-bar"data-toggle="tooltip" data-placement="top" title="Market price (lower) : <%= eval(@post.market_price)["lower"].round %>€"><p><%= eval(@post.market_price)["lower"].round %></p></td>
                  <td class="second bar market-mean-bar"data-toggle="tooltip" data-placement="top" title="Market price (mean) : <%= eval(@post.market_price)["mean"].round %>€"><p><%= eval(@post.market_price)["mean"].round(-1) %></p></td>
                  <td class="third bar market-higher-bar"data-toggle="tooltip" data-placement="top" title="Market price (higher) : <%= eval(@post.market_price)["higher"].round %>€"><p><%= eval(@post.market_price)["higher"].round %></p></td>
                  </tr>
                  </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        <section class="what-we-offer response-api" id="barinomi-analysis">
      <div class="auto-container">
        <div class="row clearfix">

          <div class="flexbox">

            <div class="text-column col-md-6 col-sm-12 col-xs-12">
              <div class="inner">

                <h2>Text duplicates</h2>

                <div class="description-box">
                  <% if @post.reposting_history == "" %>
                    No similar descriptions found inside your database
                  <% else %>
                    <% if eval(@post.reposting_history)[0].nil? %>
                      No similar descriptions found inside your database
                    <% else %>

                       <span class="reposting-percent"><%= (eval(@post.reposting_history)[0]["description_similarity"] * 100).round(2) %> %</span>  matches post <strong><%= eval(@post.reposting_history)[0]["id"] %></strong> with :
                       <br></br>
                       <ul>
                        <li>-<%= eval(@post.reposting_history)[0]["properties"].downcase %></li>
                        <li>-<%= eval(@post.reposting_history)[0]["adress_similarity"].downcase.gsub("adresses", "address") %></li>
                        <li>-<%= eval(@post.reposting_history)[0]["user_similarity"].downcase[0...-1] %></li>
                        <li>-<%= eval(@post.reposting_history)[0]["rent_similarity"].downcase[0...-1] %></li>
                        <li>-<%= eval(@post.reposting_history)[0]["surface_similairty"].downcase[0...-1] %></li>
                      </ul>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="text-column col-md-6 col-sm-12 col-xs-12">
              <div class="inner">
                <h2>Picture duplicates</h2>
                <div class="description-box">
                  <% if @post.reposting_history == "" %>
                    No similar pictures found inside your database
                  <% else %>
                    <% if eval(@post.reposting_history)[0].nil? %>
                      No similar pictures found inside your database
                    <% else %>
                       <span class="reposting-percent"><%= eval(@post.reposting_history)[0]["pictures_similarity"] %></span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <section class="testimonials-two" id="testimonials">
      <div class="auto-container">

      <% if @post.pictures.include?("[") %>
        <% pictures = eval(@post.pictures) %>
        <% pictures.each do |picture| %>

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="card card-base" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= picture %>);">
            </div>
          </div>

        <% end %>

        <br>

        <% pictures.each do |picture| %>

          <div class="row response-api">

            <div class="col-xs-4">
              <div class="card card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= picture %>);">
                <div class="duplicate-number response-api"> Results on the web : <%= eval(@post["pictures_informations"])[picture]["nb_duplicates"] %> </div>
                <div class="picture-type response-api"><%= eval(@post["pictures_informations"])[picture]["quality"] %></div>
              </div>
            </div>

          <div class="reverse-picture-results col-xs-8">
            <% if eval(@post.pictures_informations)[picture]["list_duplicates"] == [] %>
              <div class="response-api">No results</div>
            <% else %>
              <% eval(@post.pictures_informations)[picture]["list_duplicates"].each do |link| %>
                <div class="response-api"><%= link["crawl_date"] %> : <%= link["url"] %></div>
              <% end %>
            <% end %>
          </div>

        </div>
      <% end %>

    <% else %>

      <% pictures = @post.pictures.split(" ") %>
      <% pictures.each do |picture| %>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="card card-base" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= picture %>);">
          </div>
        </div>

        <% end %>

        <br>

        <% pictures.each do |picture| %>

          <div class="row response-api">

            <div class="col-xs-4">
              <div class="card card-picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= picture %>);">
                <div class="duplicate-number response-api"> Results on the web : <%= eval(@post["pictures_informations"])[picture]["nb_duplicates"] %> </div>
                <div class="picture-type response-api"><%= eval(@post["pictures_informations"])[picture]["quality"] %></div>
              </div>
            </div>

          <div class="reverse-picture-results col-xs-8">
            <% if eval(@post.pictures_informations)[picture]["list_duplicates"] == [] %>
              <div class="response-api">No results</div>
            <% else %>
              <% eval(@post.pictures_informations)[picture]["list_duplicates"].each do |link| %>
                <div class="response-api"><%= link["crawl_date"] %> : <%= link["url"] %></div>
              <% end %>
            <% end %>
          </div>

        </div>
      <% end %>

    <% end %>
    </div>
  </section>

